.promociones-section{
    background-color: var(--azul-m);
    margin: 40px auto;
    padding: 30px; 
    width: 50%;
    box-shadow: 0px 0px 10px #000000;
}

.promociones-section h2{
    color: #1a1a2e;
    font-size: 32px;
    font-weight: bold;
}

.contenedor-carousel{
    width: 50%;
    margin: auto;
}

.carousel-item img{
    height: 420px;
    object-fit: cover;
    border-radius: 20px;
}

.carousel-caption{
    background: rgba(0,0,0,0.45);
    border-radius: 15px;
    padding: 20px;
    bottom: 20px;
}

.carousel-caption h3{
    font-size: 28px;
    font-weight: bold;
}

.carousel-caption p{
    font-size: 18px;
}

.carousel-caption span{
    font-size: 15px;
    color: #d7e7ff;
}

.promociones-section:hover{
    box-shadow: 0px 0px 30px #0a1f3c;
    transition: 0.3s;
}